<h1 style="font-family:Poppins-Bold;margin-top:50px;text-align:center;margin-bottom:50px">
  <%= @room.name %>
</h1>

<div class="row" style="margin:0px">
  <div class="col-12 col-md-3" style="padding-left:40px;padding-right:40px">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col-md-8">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
       <% @room.room_messages.each do |room_message| %>
        <div class="d-none" data-role="message-template">
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <img src="" class="avatar" alt="" data-role="user-avatar">
            </div>

            <div class="col">
              <div class="message-content" style="background-color:#FF4E00;color:white;border-radius:10px;border:0px">
                <p class="mb-1" data-role="message-text" style="color:white"><%= room_message.message %></p>
                  <div class="text-right">
                    <small data-role="message-data"><%= room_message.created_at %></small>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none" data-role="message-template">
        <% end %>
    </div>

    <%= simple_form_for @room_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn chat-input', style:"background-color:#FF4E00;color:white" %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>

